/*header*/
header{
  background:#BBB;
  position:inherit;
  margin-left: 15Px;
  bottom:0;
  width:95%;
  height:105%;
  }
/*list*/
ul {
   list-style-type: none;
}
li:before {
   content: '- ';
}
/*IMAGE*/
img{
  max-width: 20%;
}
/*paragraph*/
p{
  text-align: justify;
}

/*table*/
table {
  table-layout: auto;
  width: 55%;
  border-collapse: collapse;
  border: 3px solid #764532;
  font-family: Arial;
  margin-left: 20%;

}
thead th:nth-child(1) {
  width: 50%;
}
thead th:nth-child(2) {
  width: 50%;
}
th, td {
  padding: 5px;
}
tfoot th {
  text-align: center;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}
thead, tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid #564368;
}
tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

/*footer*/

footer{
  background:#ccc;
  position:inherit;
  bottom:0;
  width:95%;
  padding-top:30px;
  height:50px;
  margin-top: 20px;
  margin-left: 25Px;
  }